
$main-font:'Arial', sans-serif;



//Background
$colorBackgroundHeader: #ffffff;





$colorBackgroundPage: #ffffff;

$colorBackgroundList: #7f7f7f;
$colorBackgroundAddInExamples__img: #7f7f7f;

//Text
$colorText: #000000;
$colorTextLight: #ffffff;