.mainNavigationMenu {
    grid-column: 5/12;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoOfMainMenu {
    display: none;
}

.mainNavigationMenu ul {
    list-style-type: none;
    grid-column: 5/13;
    display: grid;
    grid-template: repeat(1, 10vh)/repeat(4, 1fr);
    grid-gap: 30px;
}

.mainNavigationMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainNavigationMenu li a {
    font-family: 'Cervo Thin';
    color: $colorText;
    font-size: 1.4em;
    font-weight: 600;
    transition-duration: .1s;
}

.mainNavigationMenu li:hover a {
    transform: scale(1.2);
    margin-top: -5px;
}

.mainNavigationMenu li.active a {
    color: $colorActive;
    transform: scale(1.2);
    margin-top: -5px;
}

/* .regularMenu {

} */

.dropdownMenu {

}

.dropdownMenu .active {

}

@media (max-width: 609px) {
    .mainNavigationMenu ul {
        display: none;
    }

    .logoOfMainMenu {
        display: block;
        height: 30px;
        cursor: pointer;
    }
}