.mainNavigationMenu {
    grid-column: 9/12;
    width: 100%;
    position: relative;
}

.logoOfMenu {
    display: none;
}

.mainNavigationMenu ul {
    list-style-type: none;
    grid-column: 5/13;
    display: grid;
    grid-template: repeat(1, 10vh)/repeat(4, 1fr);
    grid-gap: 10px;
}

.mainNavigationMenu li {
    //min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainNavigationMenu li a {
    font-family: 'Cervo Thin';
    color: $colorText;
    font-size: 1.4em;
    font-weight: 600;
    transition-duration: .1s;
}

.mainNavigationMenu li a:hover {
    transform: scale(1.2);
}

.mainNavigationMenu li.active {
    transform: scale(1.2);
}

@media (max-width: 320px) {
    .mainNavigationMenu ul {
        display: none;
    }

    .logoOfMenu {
        display: block;
        height: 30px;
       // margin: 3.5vh 0 3vh 0;
        cursor: pointer;
        position: absolute;
        top: 3.5vh;
        right: 0;
    }

}