.nameOfSite {
    grid-area: 1/2/2/5;
}

.nameOfSite__a {
    display: block;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nameOfSite h1 {
    font-family: 'Century Gothic';
    font-size: 1.7em;
    font-weight: 600;
    color: $colorText;
    float: left;
    line-height: 1.6;
    margin-right: 10px;
    
}

.nameOfSite img {
    height: 2.5em;
    margin-top: -4px;
}